{% extends 'core/base.html' %}

{% block content %}

      {% block blog_con %}
  
    <div class="space-y-2 w-full absolute">
        <div class="flex flex-row justify-between mx-0 fixed z-50 bg-gradient-to-r from-[#0b1421] via-[#062441] to-[#0b1421] py-6 px-4 relative top-14 right-0 left-0 ">
          <p class="mx-14 font-extrabold text-lg text-[#0bffffcc]">
            وبلاگ
          </p>
          <p class="mx-4 font-extrabold text-lg">
            لیست تیکت ها 
        </p>
          <p class="font-extrabold text-lg">
            بترین وبلاگ ها
          </p>
          <p class="font-extrabold text-lg">
            دسته بندی وبلاگ ها 
          </p>
          <p class="font-extrabold text-lg">
            برترین نویسندگان
          </p>
        </div>
      </div>
      {% endblock %}
{% endblock %}
    

